<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--配置事务管理器，Spring官方提供的事务管理器接口的实现类-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入属性数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="insert*" read-only="false" propagation="REQUIRED" isolation="REPEATABLE_READ"/>
            <tx:method name="update*" read-only="false" propagation="REQUIRED" isolation="REPEATABLE_READ"/>
            <tx:method name="delete*" read-only="false" propagation="REQUIRED" isolation="REPEATABLE_READ"/>
            <tx:method name="find*" read-only="true" propagation="REQUIRED" isolation="REPEATABLE_READ"/>
            <tx:method name="query*" read-only="true" propagation="REQUIRED" isolation="REPEATABLE_READ"/>
        </tx:attributes>
    </tx:advice>

    <!--配置织入-->
    <aop:config>
        <!--配置通知与切入点-->
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* org.example.service..*ServiceImpl.*(..))"/>
    </aop:config>

</beans>